@import url('https://fonts.googleapis.com/css?family=Rajdhani:700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:100&display=swap');

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #101010;
    color: #c0c0c0;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    text-align: center;
    border: 3px #c0c0c0 solid;
    margin: 3px;
    padding: 3px;
    min-height: 97.5%;
    width: 98.5%;
}

h1.title {
    border: 3px #c0c0c0 solid;
    margin-bottom: 3px;
    margin-top: 0;
    padding: 0;
}

div.buttons {
    border: 3px #c0c0c0 solid;
    margin: 0;
    padding: 5px;
    padding-top: 0;
}

input[type=text] {
    color: #c0c0c0;
    background-color: #101010;
    border: 3px #c0c0c0 solid;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    height: 17.5px;
    margin: 3px;
}

input[type=submit] {
    border: 3px #c0c0c0 solid;
    color: #c0c0c0;
    background-color: #101010;
    border: 3px #c0c0c0 solid;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
    /* padding: 5px; */
    /* margin-left: 40px;
    margin-right: 40px;
    margin-top: 21%;
    margin-bottom: 21%; */
}

input[type=submit]:hover {
    border: 3px #101010 solid;
    background-color: #c0c0c0;
    color: #101010;
    transition-duration: 0.75s;
}

.title {
    letter-spacing: 3px;
    background-color: #101010;
    color: #c0c0c0;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    text-align: center;
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.winner {
    font-weight: bold;
    font-size: 25px;
    text-transform: capitalize;
}